<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spidy Quotes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>
                    <a href="{{ url_for('index') }}" style="text-decoration: none">Spidy Quotes</a>
                </h1>
            </div>
            <div class="col-md-4">
                <h3>
                {% if authenticated %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
                </h3>
            </div>
        </div>
    {% block content %}
    {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                Quotes by: <a href="https://www.goodreads.com/quotes">GoodReads.com</a>
            </p>
        </div>
    </footer>
</body>
</html>
