{% extends "base.html" %}
{% block content %}
<hr>
<form action="{{ url_for('filter') }}" method="post" accept-charset="utf-8" name="filterform">
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="author">Author</label>
            <select class="form-control" name="author" id="author" onchange="__doPostBack()">
                <option>----------</option>
                {% for author in authors %}
                <option value="{{ author }}" {% if selected_author|string() ==  author|string() %} selected {% endif %}>
                    {{ author }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 form-group">
            <label for="tag">Tag</label>
            <select class="form-control" name="tag" id="tag">
                <option>----------</option>
                {% for tag in tags %}
                <option value="{{ tag }}" {% if selected_tag|string() ==  tag|string() %} selected {% endif %}>
                    {{ tag }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <input name="submit_button" type="submit" value="Search" class="btn btn-default" />
    {% if error %}
    <p class="error">Error validating ViewState! Are you a silly robot?</p>
    {% endif %}
    <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="{{ viewstate }}">
</form>
<div class="results">
    {% if quotes %}
        <h3>Results</h3>
        <hr />
        {% for quote in quotes %}
        <div class="quote">
            <span class="content">{{ quote }}</span> - 
            <span class="author">{{ selected_author }}</span> (<span class="tag">{{ selected_tag }}</span>)
        </div>
        <hr />
        {% endfor %}
    {% endif %}
</div>
<script type="text/javascript">
    var theForm = document.forms['filterform'];
        if (!theForm) {
            theForm = document.filterform;
        }   
    function __doPostBack() {
        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
            theForm.submit();
        }
    }
</script>
{% endblock %}