{% extends "base.html" %}
{% block content %}
{% if tag %}
<h3>Viewing tag: <a href="{{ url_for('index', tag=tag, page=1) }}">{{ tag }}</a></h3>
{% endif %}
<div class="row">
    <div class="col-md-8">
{% for quote in quotes %}
    <div class="quote" itemscope itemtype="http://schema.org/CreativeWork">
        <span class="text" itemprop="text">{{ quote.text }}</span>
        <span>by <small class="author" itemprop="author">{% if authenticated %}<a href="http://goodreads.com{{ quote.author.goodreads_link }}">{% endif %}{{ quote.author.name }}{% if authenticated %}</a>{% endif %}</small></span>
        <div class="tags">
            {% if quote.tags %}Tags:{% endif %}
            <meta class="keywords" itemprop="keywords" content="{{ quote.tags|join(',') }}" /    > 
            {% for tag in quote.tags %}
            <a class="tag" href="{{ url_for('index', tag=tag, page=1) }}">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
{% else %}
No quotes found!
{% endfor %}
    <nav>
        <ul class="pager">
            {% if page and page > 1 %}
            <li class="previous">
                <a href="{{ url_for('index', tag=tag, page=page-1) }}"><span aria-hidden="true">&larr;</span> Previous</a>
            </li>
            {% endif %}
            {% if has_next %}
            <li class="next">
                <a href="{{ url_for('index', tag=tag, page=page+1) }}">Next <span aria-hidden="true">&rarr;</span></a>
            </li>
            {% endif %}
        </ul>
    </nav>
    </div>
    <div class="col-md-4 tags-box">
        {% if top_ten_tags %}
            <h2>Top Ten tags</h2>
            {% for tag, count in top_ten_tags %}
            <span class="tag-item">
            <a class="tag" style="font-size: {{count}}px" href="{{ url_for('index', tag=tag) }}">{{ tag }}</a>
            </span>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
