{% extends "index.html" %}
{% block pager %}
<nav>
  <ul class="pager">
    <li class="previous {% if page <= 1 %} disabled {% endif %}">
        <a href="{% if page > 1 %} {{ url_for('quotes_by_tag', tag=tag, page=page-1) }} {% endif %}">
            <span aria-hidden="true">&larr;</span> Previous
        </a>
    </li>
    <li class="next {% if not has_next %} disabled {% endif %}">
        <a href="{% if has_next %}{{ url_for('quotes_by_tag', tag=tag, page=page+1) }} {% endif %}">Next 
            <span aria-hidden="true">&rarr;</span>
        </a>
    </li>
  </ul>
</nav>
{% endblock %}